@if(TempData["success"] != null)
{
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>
    <script src="~/lib/jquery/dist/jquery.min.js" ></script>    
    <script type="text/javascript">
            toaster.success('@TempData["success"]');
            alert("Success");
     </script>
    <h3>@TempData["success"]</h3>
}
@if(TempData["error"] != null)
{
   <script src="~/lib/jquery/dist/jquery.min.js" ></script>




    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" ></script>
  
    <script type="text/javascript">
            toaster.error('@TempData["error"]');

     </script>
}